#record {
    width: 5rem;
    height: 5rem;
    background-color: green;
}

#stop {
    width: 5rem;
    height: 5rem;
    background-color: red;
}

#dpad {
    width: 10rem;
    height: 10rem;
    background-color: aqua;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dpad-knob {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: brown;
    position: relative;
}